<!DOCTYPE html>
<html>
<head>
	<title>MySQL To Do App</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<h1>Edit the below task</h1>
		<form class="form-inline" action="/edit/<%= task.id %>" method="post">
			<div class="form-group">
				<label class="sr-only">New Task</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="New Task" name="newTaskString" value="<%= task.task_name %>">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Task Date Deadline" name="newTaskDate" value="<%= task.task_date %>">
					</div>
			</div>
			<button type="submit" class="btn btn-primary">Confirm Edit</button>
		</form>
	</div>
</div>


</body>
</html>