body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: LightBlue;

}

a {
  color: #00B7FF;
}

#max-wrapper{
	margin-top: 40px;
}

.confirmation-area{
	background-color: yellow;
}